/* ---- Fonts ---- */

@font-face {
    font-family: 'Playfair Bold';
    src: url('../../../public/fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../../public/fonts/Roboto/Roboto-Bold.ttf');
}