/* ---- Resources ---- */
@use 'sass:math';
/* ---- Global ---- */
/* ---- Variables ---- */
/* -- Colors -- */
/* ---- Fonts ---- */
@font-face {
  font-family: 'Playfair Bold';
  src: url("../../../public/fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf"); }

* {
  font-family: 'Playfair Bold'; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
