/* ---- Variables ---- */
/* -- Colors -- */

$main-brown: #160C01;
$dark-brown: #120B02;
$superdark-brown: #180D00;
$ultradark-brown: #231403;
$soft-dark-brown: #281600;
$soft-dark-brown2: #190D01;

$soft-white: #fffcc2;

$rect-dark: #4A2C0A;
$rect-soft: #5E3B13;

$main-beige: #D9A56B;
