

.reg-box_section {
    background: url('../../../../../public/img/home/bg-reg.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    .reg-box {
        width: 500px;
        min-height: 550px;
    }
}